{% extends "layout.html" %}
{% set bodyId = "status" %}

{% block title %}
<title>Rick and Morty - Status</title>
{% endblock %}

{% block content %}
{% for char in base %}

<span id="{{char.id}}">
  <div id="i8pb7k" class="card">
    <div id="i7porh" class="card-header" style="background-image: url('{{ char.image }}');"></div>
    <div id="iyhqk1" class="card-body">
      <div id="iskxt7" class="card-title">
        {{ char.status }}
      </div>
    </div>
  </div>
</span>

{% endfor %}
{% endblock %}
