* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 20px 25px;
}

.header-banner {
  background-color: #101225;
  padding-top: 35px;
  padding-bottom: 100px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  min-height: 30px;
}
.container-width {
  width: 90%;
  max-width: 1150px;
  margin: 0;
  display: inline list-item;
  list-style-type: none;
}
.menu {
  float: right;
  width: 50%;
}
.lead-btn {
  margin-top: 15px;
  padding: 10px;
  width: 190px;
  min-height: 30px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 30px;
  background-color: #101225;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.lead-btn:hover {
  background-color: #fff;
  color: #101225;
}
.lead-btn:active {
  background-color: #10122585;
  color: #fff;
}
.flex-sect {
  background-color: #fafafa;
  padding: 100px 0;
  font-family: Helvetica, serif;
  display: block;
}
.flex-title {
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: #555;
  padding: 5px;
}
.flex-desc {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5px;
}
.cards {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.card {
  background-color: rgba(0, 0, 0, 0.1);
  color: #101225c2;
  margin-bottom: 24px;
  height: 440px; /* 460px  para a tela principal sem subtitulo */
  width: 300px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
  border-radius: 8%;
  transition: all 0.5s ease;
  font-weight: 100;
  overflow: hidden;
  padding: 10px;
}
.card:hover {
  margin-top: -6px;
  box-shadow: 0 20px 30px 2px rgba(0, 0, 0, 0.3);
}
.card-header {
  height: 360px; /* 360px  para a tela principal sem subtitulo */
  background-size: cover;
  background-position: center center;
  border-radius: 8%;
}

.card-body {
  margin-top: 10px;
  padding: 0 15px;
  height: 60px;

}
.card-title {

  height: 60px;
  padding-top: 15px;
  font-size: 1.8em;
  font-weight: 900;
}

.card-sub-title {

  font-size: 1em;
  margin-bottom: 15px;
}
.card-desc {
  font-size: 0.85rem;
  line-height: 17px;
}
.footer-under {
  background-color: #101225;
  padding-bottom: 100px;
  padding-top: 100px;
  min-height: 500px;
  color: rgba(207, 206, 206, 0.726);
  position: relative;
  font-weight: 100;
  font-family: Helvetica, serif;
}
.made-with {
  float: left;
  width: 50%;
  padding: 4% 0;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.678);
  padding: 0;
}

#icbq2v {
  padding: 0;
  min-height: 50px;
  position: fixed;
  width: 100%;
}
#iwewgc {
  height: 100%;
}
#i0fum3 {
  margin: 5px;
  float: right;
  min-height: 25px;
  padding: 5px 10px;
}

#i49wyu {
  padding: 8px 0 0;
  position: fixed;
  display: block;
  width: 100%;
  min-height: 30px;
  top: 0;
  bottom: 0;
  height: 4%;
  margin: auto 0 0;
  transform: rotateX(0) rotateY(0) rotateZ(0) scaleX(1) scaleY(1) scaleZ(1);
}
#iskxt7 {
  text-align: center;
}
#iizabl {
  text-align: center;
}
#i8l5el {
  text-align: center;
}
#i1b9am {
  font-weight: 100;
  text-align: center;
}
#i98dk2 {
  color: rgb(64, 64, 64);
  font-family: "Open Sans", sans-serif;
  font-size: 17.6px;
  font-style: italic;
  text-align: start;
  background-color: rgb(255, 255, 255);
}
#ixr8h6 {
  min-height: 25px;
  padding: 0 55px 0 0;
}
#i7porh {
  padding: 0 0 0 0;
}
#ici52w {
  color: rgba(237, 229, 229, 0.48);
  position: fixed;
  display: block;
  justify-content: flex-start;
  width: 100%;
  bottom: 10px;
  top: 10px;
  padding: 5px 0 5px 20px;
}
@media (max-width: 480px) {
  #ih6vgm {
    margin: 0 5% 0 5%;
  }
  #ixr8h6 {
    padding: 0 55px 0 0;
  }
}
